<p class="section-title">Settings</p>
<hr />
<div class="settings-box d-flex align-items-center p-3">
  <i class="fa-solid fa-user fa-2x"></i>
  <a href="/settings" class="settings-option m-0 ms-3">Account Info</a>
</div>
<div class="settings-box d-flex align-items-center p-3">
  <i class="fa-solid fa-user fa-2x"></i>
  <a href="/settings/friends" class="settings-option m-0 ms-3">Friends</a>
</div>
<div class="settings-box d-flex align-items-center p-3">
  <i class="fa-solid fa-right-from-bracket fa-2x"></i>
  <a href="/logout" class="settings-option m-0 ms-3">Log Out</a>
</div>