<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Petinder - Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link href="/stylesheets/pixel.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <style>
      html {
        overflow: hidden;
        height: 100%;
      }
    </style>
  </head>

  <body>
    <header class="home-header">
      <div class="container user-nav">
        <h1 class="display-4 m-0">PETINDER</h1>
        <div class="search-box">
          <i class="search-icon fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            class="form-control search-input"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Search for cats..."
          />
        </div>
        <div class="user-settings">
          <i class="user-settings-icon fa-solid fa-gear"></i>
          <img class="profile-icon" src="/images/profile.png" />
        </div>
      </div>
    </header>
    <main class="home-page">
      <div class="container my-5">
        <div class="row">
          <div class="col-3">
            <div class="box-section p-4">
              <div class="d-flex justify-content-between align-items-baseline">
                <p class="section-title">Activity</p>
                <a href="#"><span class="section-title-link">View all</span></a>
              </div>
              <div class="acitivty-list">
                <div class="activity-item d-flex">
                  <img
                    class="activity-profile-icon"
                    src="/images/profile.png"
                  />
                  <p>
                    <span class="activity-item-username">catmaster21</span>
                    started following you.
                    <span class="activity-item-time-ago">1m</span>
                  </p>
                </div>
                <div class="activity-item d-flex">
                  <img
                    class="activity-profile-icon"
                    src="/images/profile.png"
                  />
                  <p>
                    <span class="activity-item-username">catmaster21</span>
                    started following you.
                    <span class="activity-item-time-ago">1m</span>
                  </p>
                </div>
                <div class="activity-item d-flex">
                  <img
                    class="activity-profile-icon"
                    src="/images/profile.png"
                  />
                  <p>
                    <span class="activity-item-username">catmaster21</span>
                    started following you.
                    <span class="activity-item-time-ago">1m</span>
                  </p>
                </div>
                <div class="activity-item d-flex">
                  <img
                    class="activity-profile-icon"
                    src="/images/profile.png"
                  />
                  <p>
                    <span class="activity-item-username">catmaster21</span>
                    started following you.
                    <span class="activity-item-time-ago">1m</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="box-section-activity text-center">
              <div class="timeline-list">
                <div class="timeline-item p-2 mb-3">
                  <div class="timeline-item-header">
                    <img
                      class="timeline-profile-icon"
                      src="/images/profile.png"
                    />
                    <div class="timeline-header">
                      <p class="timeline-profile-username">catmaster21</p>
                      <p class="timeline-profile-location">Manama, Bahrain</p>
                    </div>
                  </div>

                  <img
                    class="timeline-post-img"
                    src="https://thiscatdoesnotexist.com/"
                  />
                </div>
                <div class="timeline-item p-2 mb-3">
                  <div class="timeline-item-header">
                    <img
                      class="timeline-profile-icon"
                      src="/images/profile.png"
                    />
                    <div class="timeline-header">
                      <p class="timeline-profile-username">catmaster21</p>
                      <p class="timeline-profile-location">Manama, Bahrain</p>
                    </div>
                  </div>
                  <img
                    class="timeline-post-img"
                    src="https://thiscatdoesnotexist.com/"
                  />
                </div>
                <div class="timeline-item p-2 mb-3">
                  <div class="timeline-item-header">
                    <img
                      class="timeline-profile-icon"
                      src="/images/profile.png"
                    />
                    <div class="timeline-header">
                      <p class="timeline-profile-username">catmaster21</p>
                      <p class="timeline-profile-location">Manama, Bahrain</p>
                    </div>
                  </div>
                  <img
                    class="timeline-post-img"
                    src="https://thiscatdoesnotexist.com/"
                  />
                </div>
                <div class="timeline-item p-2 mb-3">
                  <div class="timeline-item-header">
                    <img
                      class="timeline-profile-icon"
                      src="/images/profile.png"
                    />
                    <div class="timeline-header">
                      <p class="timeline-profile-username">catmaster21</p>
                      <p class="timeline-profile-location">Manama, Bahrain</p>
                    </div>
                  </div>
                  <img
                    class="timeline-post-img"
                    src="https://thiscatdoesnotexist.com/"
                  />
                </div>
                <div class="timeline-item p-2 mb-3">
                    <div class="timeline-item-header">
                      <img
                        class="timeline-profile-icon"
                        src="/images/profile.png"
                      />
                      <div class="timeline-header">
                        <p class="timeline-profile-username">catmaster21</p>
                        <p class="timeline-profile-location">Manama, Bahrain</p>
                      </div>
                    </div>
                    <img
                      class="timeline-post-img"
                      src="https://thiscatdoesnotexist.com/"
                    />
                  </div>
                  <div class="timeline-item p-2 mb-3">
                    <div class="timeline-item-header">
                      <img
                        class="timeline-profile-icon"
                        src="/images/profile.png"
                      />
                      <div class="timeline-header">
                        <p class="timeline-profile-username">catmaster21</p>
                        <p class="timeline-profile-location">Manama, Bahrain</p>
                      </div>
                    </div>
                    <img
                      class="timeline-post-img"
                      src="https://thiscatdoesnotexist.com/"
                    />
                  </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="box-section"></div>
          </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/7ea3e6daeb.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
