<!doctype html>
<html lang="en">

<head>
    <title>Petinder - Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link href="/stylesheets/pixel.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <header class="bg-dark">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="#">Petinder</a>
        <div>
            <button class="btn btn-theme-outline my-2 my-sm-0" type="submit">Sign Up</button>
                <button class="btn btn-theme my-2 my-sm-0" type="submit">Login</button>
        </div>
    </nav>
    </header>

    <main>
        <div class="container-fluid">
            <div class="dashboard">
                <div class="justify-content-center align-items-center">
                    <div class="profile">
                        <div class="col-12">
                            <img class="profile-img" src="images/cat.jpg">
                        </div>
                        <div class="profile-description">
                            <div>
                                <p class="profile-name"><strong>Fluffy</strong><span>, 4 years</span></span></p>
                                <p><i class="location-icon fa-solid fa-location-dot"></i><span class="profile-location">Bahrain</span></p>
                                
                            </div>
                            <hr></hr>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod deleniti iure dignissimos vel saepe nobis aliquid vero explicabo officia necessitatibus.</p>
                            <div class="profile-actions">
                                <a href="#"><i class="action-icon action-icon-heart fa-solid fa-heart fa-2x"></i></a>
                                <a href="#"><i class="action-icon action-icon-deny fa-solid fa-2x">X</i></a>
                                <a href="#"><i class="action-icon action-icon-approve fa-solid fa-check fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
    <footer class="bg-dark">
    <p>Copyright (C)</p>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/7ea3e6daeb.js" crossorigin="anonymous"></script>
    <script src="/javascripts/app.js"></script>
</body>

</html>