<header>
  <%- include('./components/auth/signupForm.ejs') %> 
  <%- include('./components/auth/loginForm.ejs') %>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="#"><h1 class="display-4">Petinder</h1></a>
      <div>
        <button
          class="btn btn-theme-outline my-2 my-sm-0"
          data-bs-toggle="modal"
          data-bs-target="#signupModel"
        >
          Sign Up
        </button>
        <button
          class="btn btn-theme my-2 my-sm-0"
          data-bs-toggle="modal"
          data-bs-target="#loginModel"
        >
          Login
        </button>
      </div>
    </nav>
  </div>
  <section class="hero">
    <div class="container">
      <div class="hero-content rounded-3">
        <h1 class="display-1">PETINDER</h1>
        <p class="col-md-8 fs-4">
          Petinder is the revolutionary new way that allows pet owners to
          connect with other like-minded pet owners, and ultimately find
          companions for their furry friends.
        </p>
        <a href="/home" class="btn btn-signup btn-primary btn-lg" type="button">
          Find Your Pet's Companion
        </a>
      </div>
    </div>
  </section>
</header>
<main>
  <div class="container">
    <section class="scores text-center">
      <div class="section-heading">
        <h1 class="display-2">Community</h1>
        <p>
          We have an extensive selection of cats, dogs, and other pets, making
          it easy to find the perfect companion for your pet.
        </p>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="score">
            <h3>Cats</h3>
            <h1 class="display-1">316</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="score">
            <h3>Dogs</h3>
            <h1 class="display-1">267</h1>
          </div>
        </div>
        <div class="col-4">
          <div class="score">
            <h3>Others</h3>
            <h1 class="display-1">190</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="reviews">
      <div class="section-heading">
        <h1 class="display-2">Reviews</h1>
        <p>See what other pet owners are saying about us.</p>
      </div>
      <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item text-center active">
            <div class="testimonial">
              <img
                class="testimonial-profile"
                src="https://thiscatdoesnotexist.com/"
                alt="Title"
              />
              <div class="testimonial-body">
                <h4 class="testimonial-title">Whiskers</h4>
                <p class="testimonial-review">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Veniam, mollitia!
                </p>
                <div class="rating">
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="testimonial">
              <img
                class="testimonial-profile"
                src="https://thiscatdoesnotexist.com/"
                alt="Title"
              />
              <div class="testimonial-body">
                <h4 class="testimonial-title">Whiskers</h4>
                <p class="testimonial-review">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Sapiente, temporibus!
                </p>
                <div class="rating">
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item text-center">
            <div class="testimonial">
              <img
                class="testimonial-profile"
                src="https://thiscatdoesnotexist.com/"
                alt="Title"
              />
              <div class="testimonial-body">
                <h4 class="testimonial-title">Whiskers</h4>
                <p class="testimonial-review">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
                  voluptatibus.
                </p>
                <div class="rating">
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                  <span><i class="fa-solid fa-star"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselId"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselId"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
  </div>
</main>
