<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Petinder - Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link href="/stylesheets/pixel.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link href="/stylesheets/flag-icon.css" rel="stylesheet" />
    <style>
      html {
        overflow: hidden;
        height: 100%;
      }
    </style>
  </head>

  <body>
    <header class="home-header">
      <div class="container user-nav">
        <h1 class="display-4 m-0">PETINDER</h1>
        <div class="search-box">
          <i class="search-icon fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            class="form-control search-input"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Search for cats..."
          />
        </div>

        <div class="user-settings">
          <div class="dropdown">
            <div class="notification-box">
              <a href="#"
                ><i
                  class="user-settings-icon notification-icon fa-solid fa-bell dropbtn"
                ></i
              ></a>
              <span class="notification-alert">5</span>
            </div>
            <div class="dropdown-content p-4">
              <div class="d-flex justify-content-between">
                <p class="section-title">Notifications</p>
                <p>
                  <a class="notification-mark-all-read">Mark all as read</a>
                </p>
              </div>

              <% for(let i = 0; i < 5; i++){ %> <% let max = 5 %>
              <div class="notification-item">
                <img class="profile-icon" src="/images/profile.png" />
                <div class="notification-info d-flex align-items-center">
                  <div>
                    <h5 class="notification-title m-0">catmaster12</h5>
                    <span class="notification-description"
                      >has just followed you</span
                    >
                  </div>

                  <a href="#"
                    ><i class="notification-mark-btn fa-solid fa-x"></i
                  ></a>
                </div>
              </div>
              <% if(i < max - 1 ){ %>
              <hr />
              <%}%> <%}%>
            </div>
          </div>
          <a href="#"
            ><i
              class="user-settings-icon notification-icon fa-solid fa-gear"
            ></i
          ></a>
          <img class="profile-icon" src="/images/profile.png" />
        </div>
      </div>
    </header>
    <main class="home-page">
      <div class="container my-5">
        <div class="row">
          <div class="profile-page col-6">
            <div class="profile-page-header"></div>
            <div class="profile-page-body p-5">
              <img class="profile-page-img mb-3" src="/images/profile.png" />
              <div class="d-flex justify-content-end" style="margin-top: -50px">
                <button class="btn btn-primary rounded-1 mx-2">
                  <i class="fa-solid fa-user-plus me-2"></i>Add Friend
                </button>
                <button class="btn btn-danger rounded-1">
                  <i class="fa-solid fa-x me-2"></i>Block
                </button>
              </div>

              <div class="p-2">
                <h5 class="profile-page-name">Cat Master</h5>
                <p class="profile-page-location">
                  <span
                    class="flag-icon flag-icon-bhr flag-icon-squared me-2"
                  ></span
                  >Manama, Bahrain
                </p>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Dolorum, ut.
                </p>
              </div>
            </div>
            <div class="footer p-2">
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
              <p>Petinder &copy; 2022</p>
            </div>
          </div>
          <div class="col-6 timeline-list">
            <% for(let i = 0; i < 5; i++) {%>
            <div class="timeline-item p-2 mb-3">
              <div class="timeline-item-header">
                <img class="timeline-profile-icon" src="/images/profile.png" />
                <div class="timeline-header">
                  <p class="timeline-profile-username">catmaster21</p>
                  <p class="timeline-profile-location">Manama, Bahrain</p>
                </div>
              </div>

              <img
                class="timeline-post-img"
                src="https://thiscatdoesnotexist.com/"
              />
              <div class="profile-actions my-3">
                <a href="#"><i class="fa-solid fa-heart fa-2x"></i></a>
                <a href="#"><i class="fa-solid fa-star fa-2x"></i></a>
                <a href="#"><i class="fa-solid fa-2x">X</i></a>
              </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </main>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        console.log("clicked");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/7ea3e6daeb.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
