
html,.container-fluid{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, p, h1,h2,h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: #d0f9ff;
}
section{
    margin-bottom: 80px;
}

.navbar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbar-brand .display-4{
    color: #1D2939 !important;
    margin: 0;
    padding: 0;
}

.btn{
    border-radius: 50px;
}

.btn-theme{
    padding: 10px 20px;
    background: #1a5073;
    color: white;
    border: 1px solid white;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border: 2px solid #1a5073;
}

.btn-theme:hover{
    background-color: #103147 !important;
    color: white !important;
}

.btn-theme-outline{
    background: white;
    color: #1D2939;
    border: 2px solid transparent;
}

.btn-theme-outline:hover{
    background: #f1f1f1 !important;
    border: 2px solid white;
    color: #1D2939 !important;
}

.dashboard{
    background-color: white;
    text-align: center;
    padding-top: 30px;
}

.profile{
    color: white;
    justify-content: center;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 12px;
    width: 400px;
    margin: auto;
}

.profile-img{
    border-radius: 8px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    height: 450px;
}

.profile-description{
    text-align: start;
    margin: 0 auto;
    background: white;
    color: black;
    padding: 20px;
    border-end-start-radius: 12px;
    border-end-end-radius: 12px;
}

.arrow{
    margin: 0px 20px;
    padding: 10px;
    background: white;
    color: black;
    border-radius: 100%;
}

.arrow-accept{
    background: rgb(12, 195, 12);   
}

.arrow-accept:hover{
    background: rgb(0, 253, 0);   
    color: white;
    border: 2px solid white;
    margin: 0px 18px;
}

.arrow-deny{
    background: rgb(255, 39, 39);
}

.arrow-deny:hover{
    background: rgb(254, 10, 10);
    color: white;
    border: 2px solid white;
    margin: 0px 18px;
}

.profile-actions{
    display: flex;
    justify-content:space-around;
}

.action-icon{
    color: white;
    padding: 15px;
    border-radius: 50%;
}

.location-icon{
    color: darkgrey;
}

.profile-location{  
    color: darkgrey;
    margin-left: 5px;
}

.action-icon-heart{
    background: #416788;
}

.action-icon-approve{
    background: #24b822;
}

.action-icon-deny{
    background: #FF1B1C;
}

.pagination{
    padding: 20px 0px;
    margin: 0;
}

footer{
    color: white;
    text-align: center;
    padding: 25px 0;
    background-color: #3498db;
}
footer p{
    margin: 0;
    padding: 0;
}

footer a{
    color: white;
}

footer a:hover{
    color: rgb(170, 168, 168);
}

footer ul{
    list-style: none;
    padding: 0;
}

.social-icons > i{
    padding-right: 10px;
}

.footer-section-title{
    margin-bottom: 10px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Index CSS */

.hero{
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: cover;
}

.hero-content{
    padding: 15% 0;
    width: 70%;
}

.hero-content .display-1{
    margin-left: -4px;
}

.btn-signup{
    background-color: #1a5073;
    padding: 10px 80px;
}

.btn-signup:hover{
    background-color: #3498db !important;
    color:white !important;
    border: 1px solid #3498db !important;
}

.section-heading{
    margin-bottom: 20px;
    text-align: center;
}

.score h3{
    color: white;
}

.score{
    background: #2980b9;
    color: white;
    border-radius: 12px;
    padding: 25px 0;
}
.score h1{
    /*font-size: 5rem;
    line-height: 5rem;*/
    color: white;
}

.carousel-control-next-icon, .carousel-control-prev-icon,.carousel-control-next:hover, .carousel-control-next-icon:hover, .carousel-control-prev:hover , .carousel-control-next:active, .carousel-control-prev:active {
    color:#1c2540;
}

.carousel-control-next:focus{
    color:#1c2540;
}

.testimonial-profile{
    width: 30%;
    border-radius: 50%;
    margin-bottom: 25px;
}

.testimonial-review{
    width: 30%;
    margin: auto;
}

.rating{
    padding: 10px 0;
    color: orange;
}


/* Home */

.home-page{
    background-color: rgb(241, 241, 241);
}

.home-header{
    display: flex;
    height: 10vh;
    background: white;
}
.user-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box{
    width: 50%;
    position: relative;
}
.search-icon {
    position: absolute;
    top: 50%;
    transform: translate(50%,-50%);
    min-width: 40px;
    margin-left: -5px
}

.search-input{
    width: 100%;
    text-align: center;
}

.user-settings{
    display: flex;
    align-items: center;
}
.user-settings-icon{
    font-size: 28px;
}

.profile-icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 10px;
}

.box-section{
    min-height: 500px;
    background: white;
    border-radius: 15px;
}

.box-section-activity{
    border-radius: 15px;
}

.section-title{
    font-weight: 700;
}
.section-title-link{
    font-weight: 700;
}

.acitivity-list{
    align-items: center;
}
.activity-item{
    align-items: center;
}
.activity-item-username{
    font-weight: 700;
}
.activity-profile-icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 10px;
    margin-left: 0;
}
.activity-item p{
    font-size: 13px !important;
    margin: 0;
}
.activity-item-time-ago{
    font-weight: 400;
    color: rgb(139, 139, 139);
}
.timeline-list{
    overflow:auto;
    height: 85vh;
}
.timeline-item{
    background: white;
    border-radius: 15px;
}
.timeline-item-header{
    display:flex;
    align-items: center;
}
.timeline-header{
    text-align: left;
}
.timeline-profile-icon{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin: 10px;
}
.timeline-profile-username{
    font-weight: 700;
}
.timeline-profile-location{
    font-size: 14px;
    font-weight: 600;
    color: rgb(139, 139, 139);
}
.timeline-post-img{
    border-radius: 8px;
}
.timeline-item p{
    margin: 0;
}